*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: beige;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}

.marker {
  font-size: 2rem;
  color: red;
}

.btn-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}
.back-btn {
  font-size: 1.4rem;
  border-radius: 2px;
}
